<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"
            data-do-not-move="true" data-provides="jQuery">
    </script>

    <style>
        header {
            background-color: #eeffdd;
            float: left;
            height: 200px;
            width: 100%;
        }

        div#leftNav {
            float: left;
            width: 255px;
            margin-top: 200px;;
            /*display:inline-block;*/
            margin-left: 15px;
            margin-right: 35px;
            position: fixed;
        }

        #mainBody1 {
            margin-left: 500px;
            margin-top: 250px;
        }

        #mainBody2 {
            margin-left: 500px;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        h5, h6 {
            font-size: .857em;
            font-weight: normal;
            line-height: 130%;
            margin: 0;
        }

        .firstp {
            font-weight: bold;
            font-family: "Times New Roman";
            font-size: 80px;
        }

        .secondp {

            font-size: 30px;
        }

    </style>


</head>
<body>

<div class="container-fluid">
    <header>

        <img src="http://52.79.83.51:2721/image/webheader.jpg" style="width:100%;height:100%">

    </header>




    <!-- 관리자 로그인 -->
    <br>
    <div align="center">
        <img src="http://52.79.83.51:2721/image/webicon.png" style="width:450px;height:450px">

        <form action="/auth/facebook" method="get">
            <input type="submit" style="height: 60px; font-size:25px; font-weight: bold" class="btn btn-primary" value="페이스북 로그인 하러가기" name="fb_login"
                   id="btnFacebook">
        </form>
        <br>
        <form action="/auth/kakao" method="get">
            <input type="submit" style="height: 60px;font-size:25px; font-weight: bold" class="btn btn-warning" value="카카오톡 로그인 하러가기" name="kk_login"
                   id="btnKakao">
        </form>
    </div>


    <hr>
    <hr/>
    <br><br><br>

    <footer class="container-fluid text-center">
        <a href="#home" title="To Top">
            <span class="glyphicon glyphicon-hand-up"></span>
        </a>
        <p>Homepage Made By <a title="Empty!! HAHA">Ubinet</a></p>
        <p>팀원 : 김영남, 전준엽, 조재근, 함성호</p>
    </footer>
</div>
</div>
</div>
</body>
</html>
