<!DOCTYPE html>
<html>
<head>
    <title>Main Frame</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"
            data-do-not-move="true" data-provides="jQuery"></script>

    <style>
        table, tr, th, td {
            solid: black;
        }

        table {
            margin: auto;
        }

        th {
            text-align: center;
        }

        td {
            padding-top: 5px;
            font-family: arial;
            font-size: 35px;
            text-align: center;

        }

        header {
            background-color: #eeffdd;
            background-image: url("");
            float: left;
            height: 200px;
            width: 100%;
        }

        nav {
            background-color: #abcdef;
            float: left;
        }

        #btn {
            font-weight: bold;
        }

        div#leftNav {
            float: left;
            width: 255px;
            margin-top: 200px;;
            /*display:inline-block;*/
            margin-left: 15px;
            margin-right: 35px;
            position: fixed;
        }

        #mainsection {
            clear: both;
        }

        #mainBody {
            margin-left: 300px;
            margin-top: 100px;
        }

        /*.subHeading{*/
        /*color:#2a2a2a;*/
        /*font-size:.857em;*/
        /*font-family:'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;*/
        /*font-weight:bold;*/
        /*margin:0;*/
        /*}*/
        .firstp {
            font-weight: bold;
            font-family: "Times New Roman";
            font-size: 80px;
        }

        .secondp {
            font-size: 30px;
        }

        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
        }

        input[name=search] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('/a.PNG');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[name=search]:focus {
            width: 100%;
        }




    </style>

</head>


<body id="home">

<div class="container-fluid">
    <header>

        <img src="http://52.79.83.51:2721/image/webheader.jpg" style="width:100%;height:100%">

    </header>


    <div class="container-fluid">
        <div class="row">
            <div id="leftNav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="secondp"><a href="/main">홈</a></li>
                    <li class="secondp"><a href="/map">위치조회</a></li>
                    <li class="secondp"><a href="/main/test3">건강상태 조회</a></li>
                </ul>
            </div>
            <br><br><br>
            <hr>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div style="margin-left:270px ">
                    <form action="/" method="get">
                        <div align="right">
                            <%
                            if(user.provider == "facebook"){
                                var username = user._json.name
                            %>
                            <p> 관리자 : <%= username %></p>
                            <%
                            }else if(user.provider == "kakao"){
                                var username = user._json.kaccount_email
                            %>
                            <p> 관리자 : <%= username %></p>
                            <%
                            }
                            %>
                            <button type="submit" id="logout" value="logout" align="right">
                                로그아웃
                            </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br><br><br>

    <div style="margin-left:300px; margin-right:100px; font-weight: bold;">
        <table border="0">
            <tr>
                <td><img src="http://52.79.83.51:2721/image/location.PNG">
                </td>
                <td><img src="http://52.79.83.51:2721/image/pulse.png">
                </td>
            </tr>
            <tr>
                <td>
                    1. 현 위치 조회기능
                </td>
                <td>
                    2. 건강상태 조회기능
                </td>
            </tr>
        </table>
    </div>
    <footer class="container-fluid text-center">
        <a href="#home" title="To Top">
            <span class="glyphicon glyphicon-hand-up"></span>
        </a>
        <p>Homepage Made By <a title="Empty!! HAHA">Ubinet</a></p>
        <p>팀원 : 김영남, 전준엽, 조재근, 함성호</p>
    </footer>

    <!--<script>-->

    <!--$(document).on("click", "#changedoctor", function () {-->
    <!--window.location.href = "/main/admin_change_doctor";-->
    <!--});-->


    <!--</script>-->



</div>

<script>
    $(document).ready(function () {
        $("#logout").click(function () {
            location.href = "/logout";
        })
    })
</script>
</body>
</html>
