
<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"
            data-do-not-move="true" data-provides="jQuery">
    </script>

    <style>
        header {
            background-color: #eeffdd;
            float: left;
            height: 200px;
            width: 100%;
        }


        div#leftNav {
            float: left;
            width: 255px;
            margin-top: 200px;;
            /*display:inline-block;*/
            margin-left: 15px;
            margin-right: 35px;
            position: fixed;
        }

        #mainBody1 {
            margin-left: 300px;
            margin-top: 250px;

        }

        #mainBody2 {
            margin-left: 500px;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        h5, h6 {
            font-size: .857em;
            font-weight: normal;
            line-height: 130%;
            margin: 0;
        }

        .firstp {
            font-weight: bold;
            font-family: "Times New Roman";
            font-size: 80px;
        }

        .secondp {

            font-size: 30px;
        }

    </style>


</head>
<body>

<div class="container-fluid">
    <header>

        <img src="http://localhost:2721/image/webheader.jpg" style="width:100%;height:100%">

    </header>


    <div class="container-fluid">
        <div class="row">
            <div id="leftNav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="secondp"><a href="/main">홈</a></li>
                    <li class="secondp"><a href="/overdose">투약 알림</a></li>
                    <li class="secondp"><a href="/map">위치(경로)조회</a></li>
                    <li class="secondp"><a href="">건강상태 조회</a></li>
                </ul>
            </div>
            <div align ="center"id="mainSection" class="container-fluid">
                <div id="mainBody1">
                        <form action="/" method="post" >
                        <input type="submit"class="form-control" style="width:200px;" name="now_location" value="현재위치 조회">
                        </form>
                    <form action="/" method="post" >
                        <input type="submit"class="form-control" style="width:200px;" name="moving_path" value="이동경로 조회">
                    </form>


                    <div id="googleMap" style="width:100%;height:600px;"></div>
                </div>
            </div>

        </div>
    </div>


    <hr>
    <hr>

    <br><br><br>


    <footer class="container-fluid text-center">
        <a href="#home" title="To Top">
            <span class="glyphicon glyphicon-hand-up"></span>
        </a>
        <p>Homepage Made By <a title="Empty!! HAHA">Ubinet</a></p>
        <p>팀원 : 김영남, 전준엽, 조재근, 함성호</p>
    </footer>
</div>
<script>
    var dlat =[];
    var dlon =[];
    dlat.push(<%=dyanmicData.lat%>);
    dlon.push(<%=dyanmicData.lon%>);

    function myMap() {
        var myposition = {lat:dlat[0], lng:dlon[0]};
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 16,
            center: myposition
        });
        var marker = new google.maps.Marker({
            position: myposition,
            map: map
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjazFy0P1jIH6lSJF0z3qp-dTykoj0HFE&callback=myMap"></script>

</body>
</html>