<!DOCTYPE html>
<html>
<head>
    <title>회원가입 페이지[관리자] -- 병원</title>
</head>
<body>
<fieldset>
    <legend>병원 관리자 가입입니다.</legend>
    <form action="/register" method="post" target="_self">
        병원 기관 ID : <input type="text" name="adminId" id="adminId"> <br/>
        병원 기관 PW : <input type="password" name="adminPw" id="adminPw"> <br/>
        병원 기관 PW 확인 : <input type="password" name="adminPw2" id="adminPw2"> <br/>
        병원 주소 입력 : <input type="text" name="adminLocation" id="adminLocation"> <br/>
        <input type="submit" name="submit" value="회원가입">
    </form>
</fieldset>
</body>
</html>